/* Select all spans that are immediate children of buttons */
button>span {
    font-size: 2.5rem;
}

body{
background-color: purple;
font-family: 'Freckle Face', cursive;
text-align: center;

}
.btn{

    width: 60px;
    height: 60px;
    background-color: blueviolet;
    opacity: 0.75;
}

textarea{
background-color: #63f542;
}





.jumbotron{
background-image: url(docs/background.gif);
background-position: center;
background-size: cover;
width: 100%;
height: 150px;
margin: 1px 5px 1px 1px;
padding: 30px 0px 0px 0px;

}
.digits{

    background-image: url(docs/CalcBackground.gif);
    background-position: center;
    background-size: cover;
}
.container1{
    
    background-image: url(docs/background2.gif);
    background-position: center;
    background-size: cover;
    margin: 1px 10px 1px 10px;

    
   
}

#ariaHeaderText{
    text-align: center;
    margin: 0px 0px 0px 0px;
    object-position: 


}
.text-center{

color: white;
text-align: center;
font-size: 60pt;
margin-bottom: 120px;


}
.firstnumber {

    /* background-color: blue; */
height: 60px;    
width: 33.3%;
    text-align: center;
    float: left;
    border: 2px solid plum;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;


}


#operator {

    /* background-color: orange; */
	height: 60px; 
    width: 33.3%;
   
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 37pt;
    text-align: center;
    /* display: inline-block; */
    border: 2px dotted red;
   
    float: left;
}

.secondnumber {
	height: 60px; 
    /* background-color: red; */
    width: 33.3%;
    text-align: center;
    float: right;
    border: 2px solid plum;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#result {
	height: 60px; 
   border: 3px dotted rebeccapurple;
    /* margin-top:60px; */
    width: 100%;
    text-align: center;

    /* background-color: grey; */


}


#negative {

    width: 100%;
    text-align: center;
    color: red;
    /* background-color: grey; */


}

.digits {

    object-position: justify;
    border: 10px dotted rebeccapurple;
    margin: 0px 0px 0px 0px;

}


#ariaGuessNow{
 

  background-color: #FFFFFF;
  animation-name: guessNowAlert;
  animation-duration: 1.75s;
  animation-iteration-count: infinite;
}

@keyframes guessNowAlert {
  0% {
    background-color: #FFFFFF;
  }
  50% {
    background-color: #EF9E9E;
  }
  100 {
    background-color: #8A0E0E;
  }
}




}


#guessbox {
    margin-left: 30px;
    margin-bottom: 20px;
    height: 130px;
    width: 40%;
    font-size: 17pt;
    color: rgb(115, 84, 230);

    object-position: center;

}

#guessbox1 {
    
    height: 130px;

    /* margin-top: 25px; */


    object-position: center;

}

#guessButton {
    width: 100%;
    margin-top: 43px;
    margin-left: 30px;
    text-align: center;
    padding: 0px 0px 0px 0px;
    font-size: 20pt;

}


#guessButtonRetry{
   width: 100%;
    margin-top: 43px;
    margin-left: 30px;
    text-align: center;
    padding: 0px 0px 0px 0px;
    font-size: 20pt;
 background-color: rgb(250, 250, 7);
  animation-name: AriaRetryHoney;
  animation-duration: 2.75s;
  animation-iteration-count: infinite;
}

@keyframes AriaRetryHoney {
  0% {
    background-color: rgb(250, 250, 7);
  }
  50% {
    background-color: #f5efc4;
  }
  100 {
    background-color: #fadd00;
  }
}


#guessButtonWin{
   width: 100%;
    margin-top: 43px;
    margin-left: 30px;
    text-align: center;
    padding: 0px 0px 0px 0px;
    font-size: 20pt;
 background-color: rgb(24, 250, 7);
  animation-name: ariaWins;
  animation-duration: .5213s;
  animation-iteration-count: infinite;
}

@keyframes ariaWins {
  0% {
    background-color: rgb(24, 250, 7);
  }
  50% {
    background-color: #c4f5ca;
  }
  100 {
    background-color: #08fc00;
  }
}






















.winBox {
    height: 130px;
    width: 130px;
    background-color: blue;


}

.card-header {

    background-image: url(docs/header_glitter.gif);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 27pt;

}

.card-header #img{
    

}

.card {

    width: 100%;
    /* background-color:blue; */
}

.cardwinbox{

    height: 300px;
    width: 100%;
   background-color: black;
    background-image: url(docs/WinGif2.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 10px dotted rebeccapurple;
    

}

#button-clear{

width: 100%;

}

.results{
    border: 10px dotted hotpink;

}


@media (max-device-width: 1024px) {

    #guessbox {
        margin-left: 30px;
        margin-bottom: 20px;
        height: 130px;
        width: 40%;
        color: rgb(115, 84, 230);
    font-size: 18pt;
        object-position: center;
    
    }
    
    #guessbox1 {
        
        height: 130px;
    
        /* margin-top: 25px; */
    
    
        object-position: center;
    
    }
    
    #guessButton {
        width: 100%;
        margin-top: 81px;
        margin-left: 5px;
        text-align: center;
        padding: 0px 0px 0px 0px;
        font-size: 17pt;
    
    }


}

@media (max-device-width: 414px) {

    .btn{
        height: 80px;
        width: 130px;
        object-position: justify;
    }

    .container1{
    
        background-image: url();
        background-color: blueviolet;
    }
    

    #guessButton {
        width: 100%;
        margin-top: 50px;
        margin-left: 30px;
        font-size: 40pt;
    
    }

    
    #guessbox {
        margin-left: 30px;
        margin-bottom: 20px;
        height: 130px;
        width: 40%;
        color: rgb(115, 84, 230);
        font-size: 24pt;
        object-position: center;
    
    }
    }